html, body, #root {
  margin: 0;
  padding: 0;
  background-color: black;
}

@font-face {
  font-family: 'ArchitectsDaughter';
  src: url('./fonts/ArchitectsDaughter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}